body {
  font-family: "Avenir Next";
  background-color: #f7f7f7;
  margin: 0;
}

header {
  background-color: #26d0c9;
  height: 65px;
  width: 100%;
  .header-logo {
    font-size: 20px;
    margin: 15px 10px;
    color: white;
    float: left;
  }
}

.container {
  background-image: url(../images/背景.jpeg);
  background-size: cover;
  height: 350px;
  padding: 180px 0 100px 0;
  color: white;
  text-align: center;
  h1 {
    color: white;
    font-size: 80px;
    opacity: 0.7;
    span {
      color: yellow;
    }
  }
}

.container2 {
  height: 600px;
  padding-bottom: 80px;
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  .flex-container {
    display: flex;
    .flex-item {
      flex-basis: 100%;
      .image-wrap {
        position: relative;
        overflow: hidden;
        padding-top: 60%;
        margin: 10px 5px;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .text {
          overflow: hidden;
        }
      }
    }
  }
}
