body {
	margin: 0;
	font-family: "Hiragino Kaku Gothic ProN";
  }

  a {
	text-decoration: none;
  }

  .container {
	width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
  }

  .top-wrapper {
	padding: 180px 0 100px 0;
	background-image: url(../images/背景.jpeg);
	background-size: cover;
	height: 350px;
	color: white;
	text-align: center;
  }

  .top-wrapper h1 {
	opacity: 0.7;
	font-size: 45px;
	letter-spacing: 5px;
  }

  .container span {
	  color: yellow;
  }

  .top-wrapper p {
	opacity: 0.7;
  }

  header {
	height: 65px;
	width: 100%;
	background-color: rgba(34, 49, 52, 0.9);
  }

  .header-logo {
	font-size: 20px;
	margin-top: 15px;
	color:white;
	float: left;
  }

  .header-left {
	float: left;
  }

  .main-wrapper {
	height: 550px;
	padding-bottom: 80px;
	background-color: #f7f7f7;
  }

  .heading {
	padding-top: 60px;
	padding-bottom: 30px;
	color: #5f5d60;
  }

  .heading h2 {
	font-weight: normal;
  }
  /* BOXデザイン004 */
.div_design004 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
  }

  .div_design004 .div_design004_contents {
	background: #ddd;
	width: 300px;
	height: 300px;
	margin: 5px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
  }

  .div_design004 .div_design004_contents img {
	width: 100%;
	height: auto;
  }

  .div_design004 .div_design004_contents p {
	font-size: 1rem;
	width: auto;
	margin: 0;
	padding: 1rem;
	display: block;
	text-align: center;
  }